<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>Change</th>]
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <a th:href="@{/edit/{id}(id=${user.getId()})}" class="btn btn-primary">Change</a>
            <!-- Кнопка удаления -->
            <a th:href="@{/delete/{id}(id=${user.getId()})}" class="btn btn-danger"
               th:onclick="return confirm('Вы уверены, что хотите удалить?')">Delete</a>


        </tr>
    </table>
</body>
</html>